.about-section {
  margin-top: 3em;
  background-color: var(--primary-color);
}

.about-section p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
}

.about-section h1 {
  margin-bottom: 1em;
}
