.showcase-section {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 60px 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px;
}

.showcase-section div {
  min-width: 300px;
  margin: auto;
  font-size: 1.1rem;
}

.showcase-img {
  height: auto;
  max-width: 700px;
  margin: auto;
}
